<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>  
        <style>
/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* The container */

/* https://www.myntra.com/white-sneakers-men */

/* https://www.repertoirefashion.co.uk/menswear-c1 */

/* https://www.thefashionisto.com/product/dolce-gabbana-stretch-cotton-jersey-t-shirt-men-blue-2/ */

/* https://www.pinterest.com/pin/473300242078639570/ */

/* https://www.teemaxonline.com/products/mens-shirt-brown?variant=19002296323 */

/* https://www.amazon.com/Plain-Yellow-Shirts-Boys-Graphic/dp/B07KNRV2P1 */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin-left: 20px;
}

#clothingType {
  font-size: 32px;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}


.container:hover input ~ .checkmark {
  background-color: #ccc;
}


.container input:checked ~ .checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}


.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
      
       form {
            width: 400px;
   
        }
        
        </style>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2>Add Item Page</h2>

    <div class = "col">
        <a href = "/">Homepage</a>
       </div>


<br/>
       <div class = "col">
        <a href = "/users/show/<%=user.id%>">Show Page</a>
      </div>
 


       <div class = "col">
        <p><h8>Instructions: For best results, remove the background of your image before uploading.
        <a href = "https://online.photoscissors.com/">  Photo Scissors</a>
        is a free site that removes backgrounds easily.  Upload your image to their site, then use the green marker to indicate which parts of the image you would like to keep.  After, use the red marker to indicate the parts of the image you would like to remove.  Then download the new image and upload to imgur or any other hosting site.  Enter the DIRECT url of your image below.</h8></p>
       </div>

 
    <div class = "row">     
        <form action="/users/show/tShirt/<%=user.id%>/?_method=PUT" method="POST">
    T-Shirt Image URL: <input type="text" name="tShirtImage"/>
            <input type="submit" name="" value="Submit Changes"/>     
        </form>  
      </div>
      
      <div class = "row">
        <form action="/users/show/jeans/<%=user.id%>/?_method=PUT" method="POST">
          <!-- https://i.imgur.com/ieXi1t5.jpg -->
          Jeans Image URL: <input type="text" name="jeansImage"/><br/>
                <input type="submit" name="" value="Submit Changes"/>
          <br/>
          <br/>
    
 
        </form>
            </div>

        <form action="/users/show/pants/<%=user.id%>/?_method=PUT" method="POST">
          <!-- https://www.mensjournal.com/style/best-khaki-pants-men/ -->
          Pants Image URL: <input type="text" name="pantsImage"/><br/>
                <input type="submit" name="" value="Submit Changes"/>
          <br/>
          <br/>
 
        </form>

        <form action="/users/show/hat/<%=user.id%>/?_method=PUT" method="POST">
          <!-- http://streetwearhub.com/mcm-all-over-classic-snapback-hat-brown-orange -->

          Hat Image URL: <input type="text" name="hatImage"/><br/>
                <input type="submit" name="" value="Submit Changes"/>
          <br/>
          <br/>
     
        </form>

        <form action="/users/show/sneakers/<%=user.id%>/?_method=PUT" method="POST">
          <!-- http://www.ambalajtasarlayin.com/sneakers-c-10_11/air-jordan-1-retro-high-og-39bred39-55508803-555088023manufacturernameair-jordan-trczlgm-p-1963.html -->

         Sneakers Image URL: <input type="text" name="sneakersImage"/><br/>
                <input type="submit" name="" value="Submit Changes"/>
          <br/>
          <br/>
       
        </form>

        <form action="/users/show/watch/<%=user.id%>/?_method=PUT" method="POST">
          <!-- http://sumptersjewelry.com/shop/new-arrivals/mens-rolex-750-18k-yellow-gold-oyster-perpetual-day-date-president-watch-18038/ -->

          Watch Image URL: <input type="text" name="watchImage"/><br/>
                <input type="submit" name="" value="Submit Changes"/>
          <br/>
          <br/>
      
        </form>

        <form action="/users/show/glasses/<%=user.id%>/?_method=PUT" method="POST">
          <!-- http://sumptersjewelry.com/shop/new-arrivals/mens-rolex-750-18k-yellow-gold-oyster-perpetual-day-date-president-watch-18038/ -->

          Glasses Image URL: <input type="text" name="glassesImage"/><br/>
                <input type="submit" name="" value="Submit Changes"/>
          <br/>
          <br/>
      
        </form>

        <select name = "clothingType" id = "clothingType">
          <option value = "T-Shirt">T-Shirt</option>
          <option value = "Jeans">Jeans</option>
          <option value = "Pants">Pants</option>
          <option value = "Hat">Hat</option>
          <option value = "Sneakers">Sneakers</option>
          <option value = "Watch">Watch</option>
          <option value = "Glasses">Glasses</option>
        </select>

    </body>
</html>