<!DOCTYPE html>
<html>
  <head>
    

    <style>

      body {
  background: #eee;
  font-family: 'Montserrat', helvetica;
  font-size: 0.9em;

      }

      a {
        font-size: 20px;
        text-decoration: none;
        color: #2196F3;

      }
    
    img {
      width: 80%;
      
 
    }

 
    #clothingSection {
      display: flex;
      justify-content: space-between;
      

      
    }



    /* flexbox help https://www.w3schools.com/css/css3_flexbox.asp */
    .row {
      display: flex;
      background-color: grey;  
      font-size: 20px; 
      
      
    }


    .backgroundImage {
      background: white;

      

    }

    .col {
      flex: 1 1 0;

      
    }

    .footer {
      display: flex;
      align-items: center;
      position: absolute;
      height: 40px;
      width: 100%;
      text-align: center; 
      justify-content: center; 
      font-size: 20px;
    }

    .footer input[type=submit]{
      font-size: 24px;
    }

    .row > div {
    
      display: flex;
      margin: 20px;
      text-align: center;
      font-size: 15px;
      min-height: 220px;
      background: white;
      
      
    }

    .navBar {
      display: flex;
      background-image: url("https://i.imgur.com/LMLm1hu.jpg?1");
      height: 180px;
      background-repeat: no-repeat repeat;
      background-size: 60%;
      width: 100%;
      border: 1px solid black;
      align-items: center;
      align-content: center;
      text-align: center;
      
    }
    .outfitOption {
      max-width: 25%;
      border: 5px solid gold;
    }

    #clothingImage {
    justify-content: space-between;
    }

    .outfitOption > div {
      background: white;
      border: 1px solid black;
      align-items: center;
      height: 50%;
      
    }

    #deleteClothingButton input[type=submit] {

      height: 80px;
      border: 0px;
      color: #2196F3;
      white-space: normal;
    }

    #placeholder input[type=submit] {
      border: 0px;
      height: 80px;
      color: #2196F3;
      white-space: normal;
    }

    input[type=submit] {
      font-size: 14px;
    }

    


    </style>
  </head>
    <body>

<div class="container">
                <%let clothingString = "DELETE ITEM"%>

      <div class = "navBar">
          <div class = "col">
            <h3>
              <a href = "/">Homepage</a>
            </h3>
          </div>
          <br/>

          <div class = "col">
              <h3>
                <a href = "/users/show/<%=user.id%>"">Show Page</a>
              </h3>
          </div>
          <br/>

          <div class = "col">
              <h3>
                <a href = "/users/currentOutfit/<%=user.id%>">Current Outfit</a>
              </h3>
          </div>

          <div class = "col">
              <h3>
                <a href = "/users/addItem/<%=user.id%>">  Add Item</a>
              </h3>
          </div>

          <div class = "col">
              <h3><a href = "/users/edit/<%=user.id%>
                ">  Edit Profile</a>
              </h3>
          </div>
    </div>

        
    <div class = "row" id = "clothingSection">
      <div class = "col" id = "clothingImage">
          <div class = "backgroundImage">
            <h2>T-Shirts</h2>
            <a href = "/users/show/tShirts/<%=user.id%>">
              <% if (tShirtImage) { %>
            <img src = "<%=tShirtImage%>">
                <% } %>
            </a>
          </div>

          <div class = "outfitOption">
              <div class = "row">
                  <form action="/users/show/<%=user.id%>" id="placeholder">
  
                    <input type="submit" value="PLACE HOLDER"/>
                </form>
                </div>

            
              <div class = "row">
                <form action="/users/show/tShirt/<%=user.id; %>?_method=DELETE" method="POST" id = "deleteClothingButton">

                  <input type="submit" value="<%=clothingString%>"/>
              </form>
              </div>
          </div>
    </div>

      <div class = "col"  id = "clothingImage">
        <div class = "backgroundImage">
          <h2>Jeans</h2>
            <a href = "/users/show/jeans/<%=user.id%>">
              <% if (jeansImage) { %>
            <img src = "<%=jeansImage%>">
            <% } %>
            </a>
        </div>

        <div class = "outfitOption">
          <div class = "row">
              <form action="/users/show/<%=user.id%>" id = "placeholder">
  
                <input type="submit" value="PLACE HOLDER"/>
            </form>
          </div>

          <div class = "row">
            <form action="/users/show/jeans/<%=user.id; %>?_method=DELETE" method="POST" id = "deleteClothingButton">

              <input type="submit" value="<%=clothingString%>"/>
          </form>
          </div>
        </div>
  </div>

      <div class = "col" id = "clothingImage">
          <div class = "backgroundImage">
            <h2>Pants</h2>
            <a href = "/users/show/pants/<%=user.id%>">
                <% if (pantsImage) { %>
            <img src = "<%=pantsImage%>">
            <% } %>
            </a>
          </div>
      
          <div class = "outfitOption">
              <div class = "row">
                  <form action="/users/show/<%=user.id%>" id = "placeholder">
  
                    <input type="submit" value="PLACE HOLDER"/>
                </form>
              </div>

            <div class = "row">
              <form action="/users/show/pants/<%=user.id; %>?_method=DELETE" method="POST" id = "deleteClothingButton">

                <input type="submit" value="<%=clothingString%>"/>
            </form>
            </div>
          </div>
      </div>
    </div>

      <div class = "row" id = "clothingSection">
        <div class = "col" id = "clothingImage">
  
          <div class = "backgroundImage">
        <h2>Hats</h2>
    
        <a href = "/users/show/hat/<%=user.id%>">
            <% if (hatImage) { %>
        <img src = "<%=hatImage%>">
        <% } %>
          </a>
        </div>
        
          <div class = "outfitOption">
            <div class = "row">
                <form action="/users/show/<%=user.id%>" id = "placeholder">
  
                  <input type="submit" value="PLACE HOLDER"/>
              </form>
          </div>

          <div class = "row">
            <form action="/users/show/hat/<%=user.id; %>?_method=DELETE" method="POST" id = "deleteClothingButton">

              <input type="submit" value="<%=clothingString%>"/>
          </form>
          </div>
        </div>
      </div>

      <div class = "col" id = "clothingImage">
        <div class = "backgroundImage">
        <h2>Sneakers</h2>
        <a href = "/users/show/sneakers/<%=user.id%>">
            <% if (sneakersImage) { %>
        <img src = "<%=sneakersImage%>">
        <% } %>
          </a>
        </div>
  
          <div class = "outfitOption">

            <div class = "row">
                <form action="/users/show/<%=user.id%>" id = "placeholder">
  
                  <input type="submit" value="PLACE HOLDER"/>
              </form>
            </div>

            <div class = "row" id = "deleteSneakersClass">
              <form action="/users/show/sneakers/<%=user.id; %>?_method=DELETE" method="POST" id = "deleteClothingButton">
                <input type="submit" value="<%=clothingString%>"/>
              </form>
            </div>

          </div>
      </div>

      <div class = "col" id = "clothingImage">
        <div class = "backgroundImage">
        <h2>Watches</h2>
        <a href = "/users/show/watch/<%=user.id%>">
            <% if (watchImage) { %>
        <img src = "<%=watchImage%>">
        <% } %>
          </a>
        </div>
    
          <div class = "outfitOption">
            <div class = "row">
                <form action="/users/show/<%=user.id%>" id = "placeholder">
  
                  <input type="submit" value="PLACE HOLDER"/>
              </form>
          </div>

          <div class = "row">
            <form action="/users/show/watch/<%=user.id; %>?_method=DELETE" method="POST" id = "deleteClothingButton">

              <input type="submit" value="<%=clothingString%>"/>
          </form>
          </div>
        </div>
      </div>

      <div class = "col" id = "clothingImage">
        <div class = "backgroundImage">
          <h2>Glasses</h2>
          <a href = "/users/show/glasses/<%=user.id%>">
              <% if (glassesImage) { %>
          <img src = "<%=glassesImage%>">
          <% } %> 
            </a>
          </div>
      
            <div class = "outfitOption">
              <div class = "row">
                  <form action="/users/show/<%=user.id%>" id = "placeholder">
  
                    <input type="submit" value="PLACE HOLDER"/>
                </form>
            </div>

            <div class = "row ">
              <form action="/users/show/glasses/<%=user.id; %>?_method=DELETE" method="POST" id = "deleteClothingButton">

                <input type="submit" value="<%=clothingString%>"/>
            </form>
            </div>
          </div>

        </div>


      </div>

      <div class = "footer">
        <div class = "col">

           <form action="/users/show/<%=user.id; %>?_method=DELETE" method="POST" id = "deleteUserButton">

              <input type="submit" value="DELETE USER"/>
          </form>
        </div>

            <div class = "col">
            &copy; JSW 2019
            </div>
          </div>

    
        </div>
    </body>
</html>